* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43281c;
    height: 70px;
}

.logo {
    max-width: 27px;
    margin: 5px;
}

.brand {
    color: #fbf2c0;
    font-size: 24px;
}

.cart {
    grid-area: cart;
    background-color: #eee1d5;
    margin: 30px 15px 45px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.2);
    padding: 30px 15px 30px 15px;
}

.order-name {
    grid-area: order-name;
    background-color: #eee1d5;
    margin: 30px 30px 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.2);
    padding: 30px 15px 30px 15px;
}

.payment-info {
    grid-area: payment-info;
    background-color: #eee1d5;
    margin: 10px 30px 45px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.2);
    padding: 30px 15px 30px 15px;
}

.total-section {
    grid-area: total-section;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.total-labels {
    justify-self: end;
    padding-right: 18%;
}

.total-sums {
    justify-self: start;
    padding-left: 18%;
}

.place-order-button {
    grid-area: place-order;
    background-color: #deb993;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "cart order-name"
        "cart payment-info"
        "total-section total-section"
        "place-order place-order";
    margin: 0;
}

.cart-title {
    color: #885a2d;
}

.order-name-title {
    color: #885a2d;
}

.payment-info-title {
    color: #885a2d;
}

.input-group {
    position: relative;
    margin: 15px 0 10px 0;
    width: 100%;
}

.ccv-input-group {
    max-width: 200px;
}

.text-input {
    background-color: #eee1d5;
    border-color: #885a2d;
    border-radius: 30px;
    height: 40px;
    width: 100%;
    text-indent: 20px;
    font-size: 1.2em;
}

.input-label {
    position: absolute;
    background-color: #eee1d5;
    color: #885a2d;
    padding: 0 2px;
    font-size: 11px;
    left: 25px;
    top: -7px;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item-amout {
    grid-area: cart-item-amout;
}

.cart-item-name {
    grid-area: cart-item-name;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1em;
}

.cart-item-option {
    grid-area: cart-item-option;
    font-size: 0.9em;
    color: #B08968;
    margin: 5px 0 5px 0;
}

.cart-item-price {
    grid-area: cart-item-price;
    font-weight: bold;
}

.cart-item {
    border-bottom: 2px solid #DDB892;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        "cart-item-amout cart-item-name cart-item-price"
        ". cart-item-option .";
}

.cart-item:last-of-type {
    border-bottom: 0;
}

.total-label,
.total-sum {
    font-weight: bold;
}
